---

- name: Add Code GPG apt Key
  apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
    state: present
  become: true
  become_user: root
  become_method: sudo

- name: Add Code Repository
  apt_repository:
    repo: deb https://packages.microsoft.com/repos/vscode stable main
    state: present
  become: true
  become_user: root
  become_method: sudo

- name: Update apt and install code
  apt: update_cache=yes name=code state=latest
  become: true
  become_user: root
  become_method: sudo

- name: Prepare vscode extension folder
  shell: |
    mkdir -p $HOME/.vscode-server/extensions
  tags: user

- name: Install vscode extension
  shell: |
    code --extensions-dir $HOME/.vscode-server/extensions --install-extension "{{ item }}"
  loop:
    - jebbs.plantuml
    - numaru.vscode-ceedling-test-adapter@v1.9.1
    - ms-vscode.cpp-tools
    - ms-vscode.cmake-tools
    - twxs.cmake
    - rust-lang.rust
    - ms-python.python
    - golang.go
    - premparihar.gotestexplorer
    - ms-azuretools.vscode-docker
    - gruntfuggly.todo-tree
  tags: user

# - name: Install ceedling extension
#   shell: |
#     wget https://github.com/numaru/vscode-ceedling-test-adapter/releases/download/v1.9.1/vscode-ceedling-test-adapter-1.9.1.vsix
#     code-server --extensions-dir ~/.vscode-server/extensions --install-extension vscode-ceedling-test-adapter-1.9.1.vsix
#   tags: user